version: '3.8'
services:

  mockserver:
    image: mockserver/mockserver@sha256:adec675a93253dcd503cda331dbc8c88383c1c79ceb2370ec9766ad3f010d255
    ports:
      - '1080:1080'
    environment:
      - MOCKSERVER_INITIALIZATION_JSON_PATH=/config/*.json
      - MOCKSERVER_ENABLE_CORS_FOR_API="true"
      - MOCKSERVER_ENABLE_CORS_FOR_ALL_RESPONSES="true"
    volumes:
      - "./integration-test-config/mock:/config"
    networks:
      - develop-network

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite@sha256:0a47e12e3693483cef5c71f35468b91d751611f172d2f97414e9c69113b106d9
    ports:
      - "10000:10000"
    command: "azurite --blobHost 0.0.0.0 --inMemoryPersistence"
    environment:
      - AZURITE_ACCOUNTS=devstoreaccount1:Eby8vdM02xNOcqFlqUwJPLlmEtlCD9I1QhZT4gRjAAHEDPazjFIwtg==
    networks:
      - develop-network

  azure-cli:
    build:
      context: "."
      dockerfile: "integration-test-config/azure-cli/Dockerfile-azure-cli"
    depends_on:
      - azurite
    networks:
      - develop-network
    volumes:
      - "./integration-test-config/blobStorageInit/initAzurite.sh:/initAzurite.sh"
      - "./integration-test-config/blobStorageInit/signed_IO_accordo_adesione.pdf:/workspace/signed_IO_accordo_adesione.pdf"
      - "./integration-test-config/blobStorageInit/products.json:/workspace/products.json"
    environment:
      - SELFCARE_INFRA_PRIVATE_ENV=dev

  mongodb:
    image: mongo:latest@sha256:1cb283500219e8fc0b61b328ea5a199a395a753d88b17351c58874fb425223cb
    ports:
      - '27017:27017'
    volumes:
      - "./integration-test-config/db:/docker-entrypoint-initdb.d"
    networks:
      - develop-network

  userms:
    image: ghcr.io/pagopa/selfcare-user-ms:latest@sha256:077d1992617808750878739a46cd90bff13a0058e88758a7aeafe4f4dc28892b
    pull_policy: always
    platform: linux/amd64
    ports:
      - '8081:8080'
    env_file:
      - "./src/test/resources/userenv"
    networks:
      - develop-network
    depends_on:
      - mongodb

  onboardingms:
    image: ghcr.io/pagopa/selfcare-onboarding-ms:latest@sha256:b7f52bcec82e26c08f07d3d01bb1879eb84037f04cd1f3d3aa1bba2dad297eb0
    pull_policy: always
    platform: linux/amd64
    ports:
      - '8080:8080'
    env_file:
      - "./src/test/resources/onboardingenv"
    networks:
      - develop-network
    depends_on:
      - mongodb

  institutionms:
    image: ghcr.io/pagopa/selfcare-institution-ms:latest@sha256:21be9c14acd1a40e9057e4ecdc94ebdde300bb32261beffd49420063d61e64b0
    pull_policy: always
    platform: linux/amd64
    ports:
      - '8082:8082'
    env_file:
      - "./src/test/resources/institutionenv"
    networks:
      - develop-network
    depends_on:
      - mongodb

  usergroupms:
    image: ghcr.io/pagopa/selfcare-user-group-ms:latest@sha256:84e2b0edafc36ab0dd321c465a67e7b8234e84010cb59a6d296f5f68f0cc1a22
    pull_policy: always
    platform: linux/amd64
    ports:
      - '8083:8083'
    env_file:
      - "./src/test/resources/usergroupenv"
    networks:
      - develop-network
    depends_on:
      - mongodb

  iamms:
    image: ghcr.io/pagopa/selfcare-iam-ms:latest@sha256:71a03f452af313a6649d203633ff52b19da2cb82d27b5058c9a606e6aaaf8b7b
    pull_policy: always
    platform: linux/amd64
    ports:
      - '8085:8080'
    env_file:
      - "./src/test/resources/iamenv"
    networks:
      - develop-network
    depends_on:
      - mongodb

networks:
  develop-network:
    name: selfcare-develop-network

